.menuView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    overflow-y: auto;
}

.login-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/login-icon.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}

.login-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.play-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/play-icon.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}


.play-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.scores-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/scores-icon.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}


.scores-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}


.level-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/level-icon.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}


.level-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}


.themes-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/themes-icon.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}


.themes-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.credits-btn {
    width: 145px;
    height: 204px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/credits.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
    margin: 10px;
}


.credits-btn:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}