* {
    font-family: 'Luckiest Guy', cursive !important;
}

:root {
    --background-color-navy: #0A4D68;
    --background-color-teal: #088395;
    --background-color-blue: #05BFDB;
    --background-color-mint: #00FFCA;
    --nav-container-height: 78px;
}

body {
    background-color: var(--background-color-teal);
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-navy);
    width: 100vw;
    height: 92vh;
    position: fixed;
}

.nav-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: var(--nav-container-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 1;
}

.content-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: calc(100% - var(--nav-container-height));
    overflow-y: auto;

}

/* Navigation Container CSS */
.navigationContainer-back-button {
    background-image: url(../imgs/back-icon.png);
    background-size: contain;
    background-position: center;
    width: 36.71px;
    height: 30px;
    margin-left: 20px;
    transition: all .2s ease-in-out;
}


.navigationContainer-back-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.navigationContainer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--background-color-mint);
}

.title-menu {
    background-image: url(../imgs/menu-title1.svg);
    background-size: contain;
    width: 375px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.title-login {
    background-image: url(../imgs/login-title.png);
    background-size: contain;
    width: 134px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}


.title-play {
    background-image: url(../imgs/play-title.png);
    background-size: contain;
    width: 111px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.title-scores {
    background-image: url(../imgs/scores-title.png);
    background-size: contain;
    width: 170px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.title-level {
    background-image: url(../imgs/level-title.png);
    background-size: contain;
    width: 132px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.title-themes {
    background-image: url(../imgs/themes-title.png);
    background-size: contain;
    width: 188px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}


.title-credits {
    background-image: url(../imgs/credits-title.png);
    background-size: contain;
    width: 180px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
}



.none {
    width: 36.71px;
    height: 30px;
    margin-right: 20px;

}


.hidden {
    background-image: none;
    width: 36.71px;
    height: 30px;
}

.btn {
    width: 258px;
    height: 52px;
    border-radius: 15px;
    background-color: var(--background-color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 22px;
    background: #05BFDB;
    box-shadow: -4px 0px 6px 0px rgba(0, 0, 0, 0.25) inset, 4px 0px 6px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.btn:hover {
    background-color: var(--background-color-mint);
    color: #000;
}