* {
    font-family: 'Luckiest Guy', cursive !important;
}


:root {
    --background-color-navy: #0A4D68;
    --background-color-teal: #088395;
    --background-color-blue: #05BFDB;
    --background-color-mint: #00FFCA;
    --nav-container-height: 92px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-navy);
    width: 100vw;
    height: 100vh;
}

.nav-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: var(--nav-container-height);
}

.content-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: calc(100% - var(--nav-container-height));
    flex-direction: column;
    display: flex;
    align-items: center;
}

.true {
    text-align: center;
    font-size: 35px;
    color: var(--background-color-teal);
    text-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7);
}