* {
    font-family: 'Luckiest Guy', cursive !important;
}


:root {
    --background-color-navy: #0A4D68;
    --background-color-teal: #088395;
    --background-color-blue: #05BFDB;
    --background-color-mint: #00FFCA;
    --nav-container-height: 92px;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-navy);
    width: 100vw;
    height: 100vh;
}

.nav-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: var(--nav-container-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.content-container {
    background-color: var(--background-color-teal);
    width: 100%;
    height: calc(100% - var(--nav-container-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.true {
    text-align: center;
    font-size: 35px;
    color: var(--background-color-teal);
    text-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7);
}

/* Navigation Container CSS */
.navigationContainer-back-button {
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: var(--background-color-mint);
    margin-left: 20px;
    background-image: url(../imgs/back-icon.png);
    background-size: contain;
    width: 36.71px;
    height: 30px;
}

.navigationContainer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--background-color-mint);
}